<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.views">
      <category
            name="Sample Category"
            id="com.starterkit.app.tcp">
      </category>
      <view
            name="Archive View"
            icon="icons/sample.gif"
            category="com.starterkit.app.tcp"
            class="com.starterkit.app.tcp.views.ArchiveView"
            id="com.starterkit.app.tcp.views.ArchiveView">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="org.eclipse.jdt.ui.JavaPerspective">
         <view
               ratio="0.5"
               relative="org.eclipse.ui.views.ProblemView"
               relationship="right"
               id="com.starterkit.app.tcp.views.ArchiveView">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.help.contexts">
      <contexts
            file="contexts.xml">
      </contexts>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.starterkit.app.perspective">
         <view
               closeable="true"
               id="com.starterkit.app.tcp.views.ArchiveView"
               minimized="false"
               moveable="true"
               ratio="0.75"
               relationship="top"
               relative="org.eclipse.ui.editorss"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         point="org.eclipse.ui.views">
      <view
            class="com.starterkit.app.tcp.views.ToDoView"
            id="com.starterkit.app.tcp.toDo"
            name="ToDo"
            restorable="true">
      </view>
   </extension>
   <extension
         point="org.eclipse.ui.perspectiveExtensions">
      <perspectiveExtension
            targetID="com.starterkit.app.perspective">
         <view
               closeable="true"
               id="com.starterkit.app.tcp.toDo"
               minimized="false"
               moveable="true"
               relationship="right"
               relative="com.starterkit.app.tcp.views.ArchiveView"
               showTitle="true"
               standalone="true"
               visible="true">
         </view>
      </perspectiveExtension>
   </extension>
   <extension
         id="product"
         point="org.eclipse.core.runtime.products">
      <product
            application="com.starterkit.app.application"
            name="tcpProduct">
         <property
         	name="windowImages"
         	value="icons/taskIcon16.gif, icons/taskIcon32.gif, icons/taskIcon48.gif">
         </property>
         <property
               name="appName"
               value="tcpProduct">
         </property>
         <property
               name="startupProgressRect"
               value="0,0,445,15">
         </property>
         <property
               name="preferenceCustomization"
               value="plugin_customization.ini">
         </property>
      </product>
   </extension>

</plugin>
